* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #c2c2c2;
} 

:root {
    /* Tekstfarver */
    --tekstfarve: #C2C2C2;

    /* Farver */
    --sort: #000000;
    --mørkegrå: #333333;
    --rød: #c82113;
    --mørkerød: #94180e;

    /* blandet */
    --lyseblå: #1085df;
    --mørkeblå: #0e5a94;
}

/*  */
/* Header & Navigation */
/*  */

.headerImg {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.baggrundsImg {
    position: relative;
    display: inline;
}

.spicyLogo {
    position: absolute;
    bottom: 20%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    
}

.navigation {
    background-color: var(--sort);
    color: var(--tekstfarve);
    padding-left: 3rem;
}

.navigation ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: -5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.navigation a {
    text-decoration: none;
    color: var(--tekstfarve);
    font-size: 32px;
    font-family: 'Bebas Neue';
}

.special {
    color: var(--mørkeblå);
}

.special a {
    color: var(--mørkeblå);
}

.special a:hover {
    color: var(--lyseblå);
}

/*  */
/* Main Styling */
/*  */

/* OM SPICY */

.omH1 {
    margin-left: 12.4vw;
    color: var(--mørkerød);
    font-family: "Bebas Neue";
    font-size: 50px;
}

.omSpicy {
    display: flex;
    margin: 0px 12.4vw 0px 12.4vw;
    gap: 5rem;
    line-height: 30px;
    width: 80%;
}

.omSpicy p {
    font-family: "sofia sans condensed", sans-serif;
}

.omSpicy h2 {
    font-family: "Bebas Neue";
    font-size: 32px;
}

.readMore {
    text-align: right;
}



/*  */
/* VÆLG DIN FAVORIT (BILLEDESKIFTER */
/*  */

/* overall styling */
.fave {
    color: var(--mørkerød);
    margin-left: 20vw;
    margin-top: 6rem;
}

.gridSect {
    display: grid;
    grid-template-columns: 600px 450px;
    grid-template-rows: 600px 600px;
    gap: 80px;
    justify-content: center;
    padding: 1rem;
}

/* GRID */
.gridImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 40px;
    width: 30vw;
    height: auto;
}

/* Styling af 2x2 grid */
.gridImg .tile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 2px solid var(--mørkerød);
    border-radius: 6px;
    cursor: pointer;
}

/* Hover for grøn kant */
.tile:hover {
    outline: 2px solid var(--mørkeblå) ;
    outline-offset: -2px;
}

/* det store billede */
.bigImg {
    width: 30vw;
    height: auto;
    border: 2px solid var(--mørkerød);
    overflow: hidden;
    border-radius: 6px;
}

.bigImg .bigTile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/*  */
/* Galleri */
/*  */

.galleriImg {
    display: flex;
    justify-content: center;
    gap: 6vw;
    margin-bottom: 3vw;
}

.galleriImg img {
    height: 16vw;
    width: auto;
    border-radius: 6px;
}


/*  */
/* Footer */
/*  */

footer {
    margin-top: -55vh;
}

.footFlex {
    background-color: var(--mørkegrå);
    display: flex;
    gap: 30%;
    padding: 2rem;
    padding-left: 4rem;
}

.footFlex div {
    list-style: none;
}

.footFlex div h1 {
    color: var(--mørkeblå);
    font-family: "Bebas Neue";
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.footFlex div p {
    color: var(--tekstfarve);
    font-family: "sofia sans condensed", sans-serif;
    font-size: 25px;
}

.footFlex div iframe {
    border-radius: 6px;
}

.footFlex div img {
    width: 6vw;
    height: auto;
    margin-top: 2rem;
}

.footFlex div a p {
    color: var(--mørkeblå);
    font-family: "sofia sans condensed", sans-serif;
    font-size: 25px;
    text-decoration: none;
}


/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 6px;
  width: 250px;
  text-align: center;
}

.modal-content button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}